body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
.statistics {
  width: max-content;
  background: #e2e2e2;
  padding: 50px;
}
.statlist {
  display: flex;
  padding: 0;
  justify-content: space-around;
  margin: 0;
}
.label {
  display: block;
  text-align: center;
  font-size: 13px;
}
.percentage {
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}
.titlesel {
  display: block;
  background-color: #fff;
  padding: 20px 40px;
  margin: 0;
  text-align: center;
}
.item {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ff8181;
  color: #fff;
  padding: 11px;
}
